<section class="hero is-link">
	<div class="hero-body">
		<div class="container has-text-centered">
			<h1 class="title">
				Bem vindo ao projeto estagiario anonimo
			</h1>
			<h2 class="subtitle">
					Um pequeno projeto em ruby-on-rails !
			</h2>
		</div>
	</div>
</section>
<section class="section">
	<div class="container">
		<div class="columns">
			<div class="column is-7">
				<div class="content">
					<h3 class="title is-3">Porque esse projeto tao bom?</h3>
					<p>porque ele foi feito em Ruby</p>
					<p>porque se nada der certo ele nao vai comprometer sua vida </p>
					<p>porque ele e o começo de uma Nova Era</p>
				</div>
			</div>
			<div class="column is-4 is-offset1">
				<h4 class="subtitle is-4">Se registre Agora !!</h4>
				<%= link_to 'Faça Parte', new_user_registration_path, class: 'button is-link is-outlined' %>
			</div>
		</div>
	</div>
</section>