<section class="hero is-link">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to Projeto
      </h1>
      <h2 class="subtitle">
        A small projeto management app with Ruby on Rails
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div class="content">
          <h3 class="title is-3">porque esse projeto é tao bom ?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eum in laborum nostrum possimus quae quos reprehenderit rerum vel voluptatibus! Distinctio explicabo in laborum magnam officia optio ut. Delectus, ratione!
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolore eum illo necessitatibus officia quod rerum sequi. Enim fuga harum in iusto libero, maiores optio, quos repellat tenetur velit voluptates.
          </p>

        </div>
      </div>
      <div class="column is-4 is-offset1">
        <h4 class="subtitle is-4">Sign up Today</h4>
        <%= link_to 'Sign Up' , new_user_registration_path , class: 'button is-link is-outline'%>
      </div>
    </div>
  </div>


</section>