<div class="section">

  <div class="container">
    <h1 class="title 2">Novo Projeto</h1>

        <%= render 'form', project: @project %>
    <br />

        <%= link_to 'Back', projects_path , class:'button' %>

  </div>
</div>


